<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/dontmovietizen" version="1.0.16" viewmodes="maximized">
   <name>dontmovietizen</name>
   <icon src="icon.png"></icon>
   <content src="dist/index.html"></content>
   <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"></feature>
   
   <!-- Enable outbound network connections for video streaming -->
   <access origin="*" subdomains="true"></access>
   
   <!-- Required privileges for IPTV playback and local storage -->
   <tizen:privilege name="http://tizen.org/privilege/internet"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/filesystem.read"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/filesystem.write"></tizen:privilege>
   
   <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"></tizen:setting>
   <tizen:application id="AeqayXtEeN.dontmovietizen" package="AeqayXtEeN" required_version="2.3"></tizen:application>
   <tizen:metadata key="http://tizen.org/metadata/app_ui_type/base_screen_resolution" value="extensive"></tizen:metadata>
   <tizen:metadata key="http://tizen.org/metadata/app_tile/box_image" value="images/box_image.png"></tizen:metadata>
   <tizen:metadata key="http://tizen.org/metadata/app_tile/box_image_active" value="images/box_image_active.png"></tizen:metadata>
   <tizen:profile name="tv-samsung"></tizen:profile>
</widget>